<!DOCTYPE html>
<html>
<head>
	<title>Secret</title>
</head>
<body>
<h3>Secrets</h3>

<% if @secret.each do |secret| %>
  <p>Content: <%= secret.content %></p>
  <p><%= secret.likes.count %> likes</p>
  <% if not Like.where(user_id:session[:user_id], secret_id: secret.id).exists? %>
    <form action='/likes/' method='post'>
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input type='hidden' name='secret_id' value='<%= secret.id %>'>
      <input type='submit' value='Like'>
  </form>
  <% else %>
   <form action='/unlikes' method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='hidden' name='secret_id' value='<%= secret.id %>'>
    <input type='submit' value='Unlike'>
  </form>
  <% end%>
    <% if current_user == secret.user %>
    <form action='/secrets/<%= secret.id %>' method='post'>
	  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input type='hidden' name='_method' value='delete'>
      <button type='submit'>Delete</button> 
    </form>
<% end %>
<% end %>
<% end %>
</body>
</html>
